* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
	font-family: 'Playtime With Hot Toddies', sans-serif;
}

html {
  height: 100%;
	background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(51,51,226,1) 48%, rgba(0,212,255,1) 100%);

}

.room {
	height: 100vh;
}

h1, h2, h3 {
	font-family: 'SansBlack', sans-serif;
	margin-bottom: 1rem;
	color: white;
}

h1 {
	font-size: 90px;
	text-shadow: 2px 2px 8px #111;
}

form > input {
  display: block;
  width: 100%;
  font-size: 30px;
  padding: 0.4em;
  border-radius: 6px;
  border: 1px solid #333e5a;
	margin-bottom: 10px;
}

button {
  background: #333e5a;
  color: #fff;
  font-size: 30px;
  padding: 0.4em;
  border-radius: 6px;
  border: 1px solid transparent;
}
button:hover {
  filter: brightness(150%);
}

video {
	border-radius: 50%;
	object-fit: cover;
	width: 170px;
	height: 170px;
}

#lobby-form {
	min-width: 50vw;
	padding: 3vw;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

#sidebar {
	height: 100%;
	background-color: white;
	justify-content: center;
	position: fixed;
	z-index: 1;
	width: 200px;
	padding: 15px;
}

#main {
	height: 100%;
	margin-left: 200px;
	padding: 30px;
}

.player + .player {
	margin-top: 15px;
}

#dev-stats {
	position: absolute;
	top: 0;
	right: 0;
	background-color: white;
	border: 3px black solid;
}
.prompt {
  text-align: center;
}
